@{
    ViewBag.Title = "Index Page";
}

<div class="jumbotron">
    <h1>Perky Rabbit Code Test</h1>
    <p class="lead"></p><br /><br />
</div>

<div class="row">
    <div class="col-md-4">
        <h2 style="color:green">Welcome</h2><br />
        <p style="color:green">
            <a href="/customer/index" class="btn btn-danger">Customer Panel</a><br /><br />
            <a href="/product/index" class="btn btn-danger">Product Panel</a><br /><br />
            <a href="/purchase/index" class="btn btn-danger">Purchase Panel</a><br /><br />
        </p>

    </div>

</div>